VITE_FHIR_BASE_URL=https://fhir-ehr-code.cerner.com/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d
VITE_CLIENT_ID=66037bbc-cc54-405b-b3fd-5fbeaeac4251
VITE_REDIRECT_URI=http://127.0.0.1:5173
VITE_AUTH_ENDPOINT=https://authorization.cerner.com/tenants/ec2458f2-1e24-41c8-b71b-0e701af7583d/protocols/oauth2/profiles/smart-v1/personas/provider/authorize
VITE_TOKEN_ENDPOINT=https://authorization.cerner.com/tenants/ec2458f2-1e24-41c8-b71b-0e701af7583d/hosts/fhir-ehr-code.cerner.com/protocols/oauth2/profiles/smart-v1/token
VITE_SCOPES=launch openid fhirUser offline_access patient/Patient.rs patient/Observation.crus patient/Condition.rs patient/MedicationRequest.rs patient/AllergyIntolerance.rs patient/Encounter.rs patient/Procedure.rs patient/DocumentReference.crus user/Patient.rs user/Encounter.rs user/Observation.rs user/Condition.rs user/Practitioner.rs
VITE_OPENAI_API_KEY=<to-be-configured>
VITE_OPENAI_MODEL=<to-be-configured>
VITE_OPENAI_ORG_ID=<optional>
FHIR_ACCESS_TOKEN=<required-for-seed-script-run>
